/* Viz framework styles */
body {
    margin: 0;
    overflow: hidden;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
}
.title h1 {
    font-size: 1.5rem;
}
.modal {
    color: black;
}
#guiWidth {
    width: 175px;
}
.panel {
    position: absolute;
    text-align: center;
}
.panel p {
    margin-bottom: 0.25rem;
}
#rotate {
    bottom: 15%;
    right: 1%;
    width: 22.5%;
    color: white;
}
#rotate button {
    width: 45%;
    padding: 0.2rem 0.4rem;
}
#buttonLarge {
    width: 100%;
}
#buttonLarge button {
    width: 95%;
}
#rotate img {
    width: 100%;
}
.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 100%;
}
#info {
    bottom: 1%;
    right: 1%;
    width: 10%;
}
#info img {
    width: 100%;
}
#sleepData {
    top: 7.5%;
    left: 1%;
    width: 25%;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 1% 0;
    background-color: rgba(0, 0, 50, 0.25);
}

#sleepData img {
    width: 95%;
}

/* Small screens */
@media (min-width: 576px) {
    #rotate {
        width: 15%;
    }
}

/* Small screen - landscape */
@media (min-width: 576px) and (orientation: landscape) {
    #rotate {
        width: 11%;
        top: 11%;
    }
    #sleepData {
        width: 17.5%;
        top: 10%;
    }
    #info {
        width: 6.5%;
    }
    #guiWidth {
        width: 200px;
    }
}

@media (min-width: 768px) {
    .title {
        padding-left: 30px;
    }
    #sleepData {
        top: 5%;
        width: 22.5%;
    }
    #guiWidth {
        width: 300px;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    #rotate {
        top: 50%;
    }
}
/* iPad in landscape */
@media (min-width: 992px) {
    #rotate {
        width: 10%;
        top: 55%;
    }
    #info {
        width: 6%;
    }
    #sleepData {
        width: 15%;
    }
}

/* Larger screens */
@media (min-width: 1200px) {
    #rotate {
        width: 8%;
    }
    #rotate img {
        width: 100%;
    }
    #info {
        width: 4%;
    }
    #sleepData {
        width: 12.5%;
    }
}

/* Full HD screens */
@media (min-width: 1600px) {
    #rotate {
        width: 7%;
    }
    #sleepData {
        width: 11%;
    }
}
