/* Viz framework styles */
body {
    margin: 0;
    overflow: hidden;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
}
.title h1 {
    font-size: 1.5rem;
}
.modal {
    color: black;
}
#guiWidth {
    width: 175px;
}
.panel {
    position: absolute;
    text-align: center;
}
.panel p {
    margin-bottom: 0.25rem;
}
#rotate {
    bottom: 15%;
    right: 1%;
    width: 22.5%;
    color: white;
    -webkit-touch-callout: none;
}
#rotate button {
    width: 45%;
    padding: 0.2rem 0.4rem;
}
#buttonLarge {
    width: 100%;
}
#buttonLarge button {
    width: 95%;
}
#rotate img {
    width: 100%;
}
.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 100%;
    -webkit-touch-callout: none;
}
#info {
    bottom: 1%;
    right: 1%;
    width: 10%;
    -webkit-touch-callout: none;
}
#info img {
    width: 100%;
}
.infoTitle {
    position: absolute;
    top: 0;
    left: 0;
    background-color:  rgb(100, 100, 100);
    color: white;
    border: 2px solid white;
    border-radius: 0 20px 20px 0;
    padding: 5px 0;
    width: 50%;
}
.infoContent {
    position: absolute;
    top: 0%;
    left: 45%;
    background-color:  rgba(130, 130, 255, 0.75);
    color: white;
    border: 2px solid white;
    border-radius: 0 20px 20px 0;
    padding: 5px 0;
    width: 35%;
}
#sleepData {
    top: 7.5%;
    left: -0.5%;
    height: 25%;
    -webkit-touch-callout: none;
    border-radius: 0 20px 20px 0;
}
#sleepData img {
    width: 95%;
}
#sleepAttribute,
#qualityAttribute,
#awakeAttribute,
#deepAttribute,
#monthAttribute {
    left: 0;
}
#qualityAttribute {
    top: 20%;
}
#awakeAttribute {
    top: 40%;
}
#deepAttribute {
    top: 60%;
}
#monthAttribute {
    top: 80%;
}
#monthControl {
    -webkit-touch-callout: none;
}
#monthControl button {
    width: 35%;
    padding: 0.2rem 0.4rem;
}
.btn-purple {
    color: #fff;
    background-color:  rgba(130, 130, 255, 0.75);
    border-color: white;
}
.infoTitleBtn {
    background-color: rgb(100, 100, 100);
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}
/* Small screens */
@media (min-width: 576px) {
    #rotate {
        width: 15%;
    }
}

/* Small screen - landscape */
@media (min-width: 576px) and (orientation: landscape) {
    #rotate {
        width: 11%;
        top: 11%;
    }
    #sleepData {
        width: 17.5%;
        top: 10%;
        padding: 0 0;
    }
    #info {
        width: 6.5%;
    }
    #guiWidth {
        width: 200px;
    }
}

@media (min-width: 768px) {
    #sleepData {
        top: 5%;
        width: 22.5%;
    }
    #guiWidth {
        width: 300px;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    #rotate {
        top: 50%;
    }
}
/* iPad in landscape */
@media (min-width: 992px) {
    #rotate {
        width: 10%;
        top: 55%;
    }
    #info {
        width: 6%;
    }
    #sleepData {
        width: 15%;
    }
}

/* Larger screens */
@media (min-width: 1200px) {
    #rotate {
        width: 8%;
    }
    #rotate img {
        width: 100%;
    }
    #info {
        width: 4%;
    }
    #sleepData {
        width: 12.5%;
    }
}

/* Full HD screens */
@media (min-width: 1600px) {
    #rotate {
        width: 7%;
    }
    #sleepData {
        width: 11%;
    }
}
